*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.cont-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#img {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 10px 8px 10px #888888;
    position: relative;
    animation: moves 5s infinite;
    animation-timing-function: linear;
}

img {
    width: 100%;
    height: 400px;
}

.btn-size {
    display: block;
    width: 20%;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.img-caption {
    position: absolute;
    z-index: 1;
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12em;
}

.img-caption h3 {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.img-div {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    cursor: pointer;
}

@keyframes moves {
    from {
        left: 0%;
    }
    to {
        left: 8%;
    }
}
