* {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.cont-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#img {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 10px 8px 10px #888888;
}

img {
    width: 100%;
    height: 400px;
    /* background-position: center;
    background-size: cover;
    border-radius: 5px; */
}

.btn-size {
    width: 20%;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    flex-direction: row;
}
